*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#palya{
    max-width: 1000px;
    margin:0 auto;
}
.sor{
    display: flex;
    justify-content: center;
}
.cella{
    width: 20vh;
    height: 20vh;
    background-color: yellow;
    border:1px solid black;
    background-size: cover;
}
.szurke{
    filter: grayscale(1);
}